<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tistory.hskimsky.oozie_noti.web.workflow.WorkflowNotificationMapper">
    <insert id="insertWorkflowJobStatus" parameterType="map">
        INSERT INTO workflow_job_status
        VALUES
        (#{jobId}, #{status}, NOW())
    </insert>

    <insert id="insertNodeStartEnd" parameterType="map">
        INSERT INTO workflow_job_node_status
        VALUES
        (#{jobId}, #{nodeName}, #{status}, NOW())
    </insert>
</mapper>